.display,
.default-message {
  border-radius: 8px;
  padding: 12px;
  width: 400px;
  height: 520px;
  background-position: 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("../images/background.jpg");
}

.display {
  max-height: 520px;
  overflow-y: scroll;
}

.image {
  width: 80px;
}

.deck-text {
  font-size: 16px;
  color: white;
}
