.main {
  margin-top: 20%;
  padding-inline: 50px;
  height: 520px;
}

.filter {
  margin-bottom: 4px;
}

.search-button:hover {
  cursor: pointer;
}

.search-button {
  width: 80px;
  height: 40px;
  border: none;
  margin-top: 12px;
  border-radius: 12%;
  background-color: #6e5992;
}
