.main {
  margin-top: 20%;
  padding-inline: 50px;
  height: 520px;
}

.filter {
  margin-bottom: 4px;
}

.search-button:hover {
  cursor: pointer;
}

.search-button,
.filter-text {
  font-family: "Russo One", sans-serif;
}

.search-button {
  width: 80px;
  height: 50px;
  border: none;
  margin-top: 12px;
  border-radius: 12%;
  background-color: #6e5992;
}

.filter-text {
  color: #48a7a9;
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 0.7);
}
